.idea/
vendor/

db/logs/*
!db/logs/.gitkeep

private/_cache/*
!private/_cache/.gitkeep
private/_logs/*
!private/_logs/.gitkeep
private/_services/*
!private/_services/.gitkeep
private/_tmp/*
!private/_tmp/.gitkeep

public/version.json
composer.phar

tests/unit/coverage/*
!tests/unit/coverage/.gitkeep

tests/codeception/*.yml
tests/codeception/_output/*
!tests/codeception/_output/.gitkeep
tests/codeception/_support/_generated/*
